.images{
    width: 50%;
    height: 80px;
    border-radius: 100px;
    margin-top: 5%;
}
Title{
    font-weight: bold;
    font-weight: black;
}
.imgs{
    width: 70%;
    height: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
}